<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.briup.dao.extend.BookExtendDao">

    <resultMap id="BaseResultMap" type="bookExtend" extends="com.briup.dao.BookDao.BaseResultMap">
        <association property="category" javaType="category">
            <id property="id" column="cid" jdbcType="INTEGER"/>
            <result property="name" column="cName" jdbcType="VARCHAR"/>
            <result property="description" column="cDescription" jdbcType="VARCHAR"/>
            <result property="parentId" column="parent_id" jdbcType="VARCHAR"/>
        </association>
    </resultMap>

    <sql id="Base_Column_List">
        b.id, b.name, b.description, author, publisher, price, store_num, status, category_id,
        c.id cid, c.name cName, c.description cDescription, parent_id
    </sql>
    <select id="selectBooksByCondition" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from es_book b
        left join es_category c on c.id = b.category_id
        <where>
            <if test="keyword != null and keyword != ''">
                ( b.name like concat('%',#{keyword},'%')
                or author like concat('%',#{keyword},'%')
                or publisher like concat('%',#{keyword},'%') )
            </if>
            <if test="categoryId != null and categoryId != ''">
                and c.id = #{categoryId}
            </if>
        </where>
    </select>
    <!--条件分页查询图书数据-->
    <select id="selectBooksByConditionAndPage"
            resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from es_book b
        left join es_category c on b.category_id = c.id
        <where>
            <if test="keyword != null and keyword != ''">
                ( b.name like concat('%',#{keyword},'%')
                or author like concat('%',#{keyword},'%')
                or publisher like concat('%',#{keyword},'%') )
            </if>
            <if test="categoryId != null and categoryId != ''">
                and c.id = #{categoryId}
            </if>
        </where>
        limit #{pageIndex}, #{pageSize}
    </select>
    <!--条件查询图书数量-->
    <select id="selectCount" resultType="long">
        select count(*)
        from es_book b
        left join es_category c on b.category_id = c.id
        <where>
            <if test="keyword != null and keyword != ''">
                ( b.name like concat('%',#{keyword},'%')
                or author like concat('%',#{keyword},'%')
                or publisher like concat('%',#{keyword},'%') )
            </if>
            <if test="categoryId != null and categoryId != ''">
                and c.id = #{categoryId}
            </if>
        </where>
    </select>

</mapper>